/* Global Styles */


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #413d3d;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #f2f2f7;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;

}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Header Styles */

header {
  background-color:  #04AA6D;
  padding: 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(243, 240, 240, 0.1);
  z-index: 1000;
}

header nav {
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
/* Main Styles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h1 {
  margin-top: 0;
}

/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
 

}

/* Responsive Styles */

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  section {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  header nav {
    padding: 5px;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav li {
    margin-right: 0;
  }
  section {
    padding: 10px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}


.active {
  background-color: #04AA6D;
  color: white;
}

.apresentacao {
  background-color: #04AA6D;
  color: #fff;
  padding: 25px;
  text-align: justify;
  margin-bottom: 1px;
  border-bottom: 6px solid #3f3c3c;
  margin-top: 40px;
}

#contato {
  background-color: #04AA6D;
  color: #fff;
  padding: 25px;
  text-align: justify;
  margin-bottom: 1px;
  border-bottom: 6px solid #3f3c3c;
}

.navbar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-left: 20px;
  

}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}


.navbar a.active {
  color:#fff;
  font-weight: bold;
}

.barra {
   background-color: #551a1a;
   width: 1663px;
}

.maisfotos {
  background-color: #04AA6D;
  padding: 5px;
  text-align: justify;
  margin-bottom: 1px;
  border-bottom: 6px solid #3f3c3c;
  color:#fff;
  font-weight: bold;
}