body{
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 5px;
  background-color: rgb(247, 243, 239);
  display: inline-block;
  justify-content: center;
  height: 400px;
}
  
  label,button{
  display: block;
  height: 25px;
  margin-top: 5px;

}

.labelRadio{
  display: inline;
}

